# Environment files
.env

# Data directories
**/data/
**/data-zip/
**/local_scripts_test/

# Image files
*.png
*.jpg
*.jpeg

# Python caches
.ruff_cache/
.pytest_cache/
__pycache__/

# Model checkpoints
*.pt